.game {
  position: relative;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom : 2px solid black;
}
.dino {
  position: absolute;
  width: 60px;
  left: 0;
  height: 60px;
  background-color: black;
}
.cactus {
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 60px;
  background-color: green;
}
